:root {
    --light-blue: #1a8fe3;
    --darker-blue: #212529;
    --light-gray: #464d4d;
    --beauty-red: #ff5243;
    --darker-red: rgb(50, 0, 0);
}

.hoverdefault:hover {
    cursor: default;
}

ul {
    padding: 0 !important;
    list-style: none;
}

li {
    margin-bottom: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-task {
    color: var(--darker-blue);
    text-decoration: none;
}

.link-task:hover {
    color: var(--light-gray);
}

.alert-task {
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 100%;
    background-color: var(--beauty-red);
    color: white;
    font-weight: bold;
}

.status {
    padding: 0 10px;
    border-radius: 12px;
    background-color: var(--light-blue);
}

.btn-tasks,
.btn-tasks-danger {
    padding: 0 !important;
    margin: 20px 0 0;
    border-radius: 0 !important;
}

.btn-tasks:hover,
.btn-tasks-danger:hover {
    color: gray !important;
}

.btn-tasks-danger:hover {
    color: var(--darker-red) !important;
}

.btn-tasks-danger {
    color: var(--beauty-red) !important;
}

.pointer {
    cursor: pointer;
}

.li-block {
    display: flex;
}

.changer-img img {
    position: relative;
    top: -42.5px;
    border-radius: 6px;
}

.input-change-txt input {
    padding: 0 !important;
    border-radius: 0 !important;
    font-size: calc(1.525rem + 3.3vw);
}

.sb-input {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.input-change-txt input:focus,
.form-style input {
    font-weight: 700;
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
}

@media (max-width: 767.98px) {
    .li-block {
        display: block;
    }
}
