ul {
    padding: 0 !important;
    list-style: none;
}

li {
    margin-bottom: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-date {
    font-weight: 400;
    background-color: #e6c229;
    padding: 0 8px;
    border-radius: 100%;
    color: white;
}

.status {
    padding: 0 10px;
    border-radius: 12px;
    background-color: #1a8fe3;
}

.btn-tasks {
    padding: 0 !important;
    margin: 20px 0 0;
    border-radius: 0 !important;
}

.btn-tasks:hover {
    color: gray !important;
}

.pointer {
    cursor: pointer;
}

.changer-img img {
    position: relative;
    top: -42.5px;
    border-radius: 6px;
}

.input-change-txt input {
    padding: 0 !important;
    border-radius: 0 !important;
    font-size: calc(1.525rem + 3.3vw);
}

.sb-input {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.input-change-txt input:focus {
    font-weight: 700;
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
}
