{% extends "base.html" %}
{% load static %} 
{% block content %}
    {% include "partials/_header.html" %}
    <nav class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
        </svg>
        <div class="input-change-txt">
            <h1 class="pt-2 display-3 fw-bold change-text" id="titleChange">title</h1>
            <h4 class="py-3 change-text" id="subtitleChange">change-here</h4>
        </div>
    </nav>
    <main class="container">
        <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#staticbtntocreatetask"
        >
            Adicionar primeira tarefa!
        </button>
        <div
            class="modal fade"
            id="staticbtntocreatetask"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticbtntocreatetaskLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1
                            class="modal-title fs-5"
                            id="staticbtntocreatetaskLabel"
                        >
                            Criar tarefa
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url "index" %}" method="post">
                            {% csrf_token %}
                            <div>
                                <button type="submit" class="btn btn-primary">
                                    Adicionar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>rodape</footer>
    <script src="{% static "js/index.js" %}"></script>
{% endblock content %}
