{% extends "base.html" %}
{% load static %} 
{% block content %}
    {% include "partials/_header.html" %}
    <nav class="container">
        <div class="changer-img">
            <img class="pointer" id="imageDisplay" width="85" height="85" src="https://fakeimg.pl/85x85/" alt="img" onclick="selectImage()">
        </div>
        <input type="file" id="imageInput" accept="image/*" style="display: none;" onchange="changeImage(event)">
        <div class="input-change-txt">
            <div class="pt-2">
                <span class="display-3 fw-bold pointer" id="titleChange">title</span>
            </div>
            <div class="pt-2">
                <span class="pointer fs-4 fw-bold" id="subtitleChange">change-here</span>
            </div>
        </div>
    </nav>
    <main class="container">
        {% if tasks %}
            <button
                type="button"
                class="btn btn-tasks"
                data-bs-toggle="modal"
                data-bs-target="#staticbtntocreatetask"
            >
                Adicionar tarefa
            </button>
        {% else %}
            <button
                type="button"
                class="btn btn-tasks"
                data-bs-toggle="modal"
                data-bs-target="#staticbtntocreatetask"
            >
                Adicionar primeira tarefa
            </button>

        {% endif %}
        <div
            class="modal fade"
            id="staticbtntocreatetask"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticbtntocreatetaskLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1
                            class="modal-title fs-5"
                            id="staticbtntocreatetaskLabel"
                        >
                            Criar tarefa
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url "index" %}" method="post">
                            {% csrf_token %}
                            <div>
                                <button type="submit" class="btn btn-primary">
                                    Adicionar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <ul>
            {% for task in tasks %}
                <li>
                    <span>{{task.title}}</span>
                    <span>{{task.description}}</span>
                    <span>{{task.status}}</span>
                    <span>{{task.due_date}}</span>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>rodape</footer>
    <script src="{% static "js/index.js" %}"></script>
{% endblock content %}
