{% extends "base.html" %}
{% load static %} 
{% block content %}
    {% include "partials/_header.html" %}
    <nav class="container">
        <div class="changer-img">
            <img class="pointer" id="imageDisplay" width="85" height="85" src="https://fakeimg.pl/85x85/" alt="img" onclick="selectImage()">
        </div>
        <input type="file" id="imageInput" accept="image/*" style="display: none;" onchange="changeImage(event)">
        <div class="input-change-txt">
            <div class="pt-2">
                <span class="display-3 fw-bold pointer" id="titleChange">titulo</span>
            </div>
            <div class="pt-2">
                <span class="pointer fs-4 fw-bold" id="subtitleChange">mude aqui</span>
            </div>
        </div>
    </nav>
    <main class="container">
        {% if tasks %}
            <button
                type="button"
                class="btn btn-tasks"
                data-bs-toggle="modal"
                data-bs-target="#staticbtntocreatetask"
            >
                Adicionar tarefa...
            </button>
        {% else %}
            <button
                type="button"
                class="btn btn-tasks"
                data-bs-toggle="modal"
                data-bs-target="#staticbtntocreatetask"
            >
                Adicionar primeira tarefa...
            </button>

        {% endif %}
        <div
            class="modal fade"
            id="staticbtntocreatetask"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticbtntocreatetaskLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1
                            class="modal-title fs-5"
                            id="staticbtntocreatetaskLabel"
                        >
                            Criar tarefa
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url "index" %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}    
                                <div class="py-2">
                                    {{field}}
                                </div>
                            {% endfor %}
                            <div>
                                <button type="submit" class="btn btn-tasks">
                                    Adicionar...
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pt-4">
            {% for task in tasks %}
                <li style="background:#e2e3e5;" class="task-item" data-due-date="{{ task.due_date|date:"Y-m-d" }}">
                    <div class="d-flex">
                        <a class="link-task" href="{% url "task" user.username task.id %}">
                            <strong>{{ task.title }}</strong>
                        </a>
                        <span class="text-truncate ms-5 hoverdefault" style="max-width: 300px;">{{ task.description }}</span>
                    </div>
                    <div class="d-flex hoverdefault">
                        {% if task.status %}
                            <small class="status me-3">{{ task.status }}</small>
                        {% endif %}
                        <span class="d-flex due-date">
                            <span class="d-none alert-task">
                                !
                            </span>
                            <span>
                                {{ task.due_date|date:"d/m/Y" }}
                            </span>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </main>
    <script src="{% static "js/index.js" %}"></script>
{% endblock content %}
