{% extends "base.html" %}
{% block content %}
    {% include "partials/_header.html" %}
    <main class="container">
        <h1 class="pt-5 hoverdefault fw-bold">Task especifica</h1>
        <span class="ms-1">
            <a class="btn btn-tasks" href="{% url "index" %}">voltar...</a>
            <a class="ms-2 btn btn-tasks-danger" href="{% url "delete_task" task.id %}">deletar...</a>
        </span>
        <form method="post" class="form-style">
            {% csrf_token %}
            {% for field in form %}
                <div class="py-2">
                    {{field}}
                </div>
            {% endfor %}
            <button class="ms-1 btn btn-tasks" type="submit">salvar...</button>
        </form>
    </main>
{% endblock content %}