<nav class="menu">
    <button class="btn" onclick="showMenu()" id="menuBtn">&lt;</button>
    <div class="d-flex flex-column d-none" id="showMenu">
        <button class="btn" onclick="removeIconImage()">remove img</button>
        <button class="btn" onclick="removeSets('titleChange')">remove title</button>
        <button class="btn" onclick="removeSets('subtitleChange')">remove subtitle</button>
        <button class="btn" onclick="addIconImage()">add img</button>
        <button class="btn" onclick="setAdds('titleChange')">add title</button>
        <button class="btn" onclick="setAdds('subtitleChange')">add subtitle</button>
    </div>
</nav>